<?xml version="1.0"?>
<launch>
  <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
    <param name="map_frame" value="map" />
    <param name="base_frame" value="base_footprint" />
    <param name="odom_frame" value="nav"/>
    <param name="output_timing" value="false"/>
    <param name="pub_odometry" value="true"/>
    <remap from="scanmatch_odom" to="odom"/>
    <param name="pub_map_odom_transform" value="true"/>
    <param name="use_tf_scan_transformation" value="true"/>
    <param name="use_tf_pose_start_estimate" value="false"/>
    <param name="scan_topic" value="scan"/>
    <!-- Map size / start point -->
    <param name="map_resolution" value="0.050"/>
    <param name="map_size" value="2048"/>
    <param name="map_start_x" value="0.5"/>
    <param name="map_start_y" value="0.5" />
    <!-- Map update parameters -->
    <param name="update_factor_free" value="0.4"/>
    <param name="update_factor_occupied" value="0.9" />
    <param name="map_update_distance_thresh" value="0.28"/>
    <param name="map_update_angle_thresh" value="0.15" />
    <param name="laser_min_dist" value="0.08"/>
    <param name="laser_max_dist" value="3.2" />
  </node>
  <!-- <param name="pub_drawings" value="true"/><param name="pub_debug_output" value="true"/><node pkg="hector_imu_attitude_to_tf" type="imu_attitude_to_tf" name="imu_attitude_to_tf" output="screen" />

    -->
  <param name="hector_mapping/odom_frame" value="nav"/>
  <param name="hector_mapping/pub_map_odom_transform" value="true"/>
  <!-- <node pkg="tf" type="static_transform_publisher" name="map_nav_broadcaster" args="0 0 0 0 0 0 map nav 100" /> -->
  <node pkg="tf" type="static_transform_publisher" name="nav_baselink_broadcaster" args="0 0 0 0 0 0 nav base_footprint 100" />
  <node pkg="hector_map_server" type="hector_map_server" name="hector_map_server" output="screen" />
  <arg name="trajectory_source_frame_name" default="/scanmatcher_frame"/>
  <arg name="trajectory_update_rate" default="4"/>
  <arg name="trajectory_publish_rate" default="0.25"/>
  <arg name="map_file_path" default="/home/bl-auto/Desktop/map"/>
  <arg name="map_file_base_name" default="WORLD_ROBOTCUB_2015_BARTLAB_AUTO_Best in class"/>
  <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server" output="screen">
    <param name="target_frame_name" type="string" value="/map" />
    <param name="source_frame_name" type="string" value="$(arg trajectory_source_frame_name)" />
    <param name="trajectory_update_rate" type="double" value="$(arg trajectory_update_rate)" />
    <param name="trajectory_publish_rate" type="double" value="$(arg trajectory_publish_rate)" />
  </node>
  <node pkg="hector_geotiff" type="geotiff_node" name="hector_geotiff_node" output="screen" launch-prefix="nice -n 15">
    <remap from="map" to="/dynamic_map" />
    <param name="map_file_path" type="string" value="$(arg map_file_path)" />
    <param name="map_file_base_name" type="string" value="$(arg map_file_base_name)" />
    <param name="geotiff_save_period" type="double" value="360" />
    <param name="draw_background_checkerboard" type="bool" value="true" />
    <param name="draw_free_space_grid" type="bool" value="true" />
  </node>
  <!-- <node pkg="hector_geotiff" type="geotiff_node" name="hector_geotiff_node" output="screen" launch-prefix="nice -n 15">
    <param name="map_file_path" type="string" value="$(find hector_geotiff)/maps" />
    <param name="map_file_base_name" type="string" value="BART_LAB" />
    <param name="geotiff_save_period" type="double" value="60" />
  </node>
  <include file="$(find hector_exploration_node)/launch/exploration_planner.launch">
  </include>
  <node pkg="hector_exploration_controller" type="simple_exploration_controller" name="controller" />
  <node pkg="topic_tools" type="throttle" name="map_throttle" args="messages map 0.1 throttled_map" /> -->

<node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find hector_slam_launch)/rviz_cfg/mapping_demo.rviz"/>
</launch>